.container_ci{
    height: 400px;
    width: 400px;
    border: 2cap solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    padding:25px;
    margin-bottom: 30px;
}

.container_ci:hover{
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}


.item_ci{
    height: 80px;
    width: 80px;
    border: 3px solid orange;
}