.container-u{
    margin: 2px;
    font-size: 24px;
    color: white;
    height: 91vh;
    text-align: center;
    display: flex;
    flex-direction: column;


    background: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    padding:25px;
    margin-bottom: 30px;
}

.container-u:hover{
    border-radius: 0% 0% 50% 50% / 0% 0% 2% 2% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

.flex-header {
    background-color: #5070B5;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex-main {
    display: flex;
    flex: 1;
}

.flex-nav {
    background-color: #B95F21;
    flex: 1 1 5rem;
    padding-top: 3rem;        
}

.flex-article {
    background-color: #81A43C; 
    flex: 3 3 ;
    padding-top: 3rem;    
}

.flex-aside{
    background-color: #B95F21; 
    padding-top: 3rem;       
    flex: 1 1 5rem;   
}

.flex-footer {
    background-color: #5070B5;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media all and (max-width: 540px) {
    .flex-main {
        flex-direction: column;
    }
}