.container5 {
    border: 6px solid black;
    display: flex;
    height: 800px;
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    align-items: baseline;
}
.flex-item5 {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item5-1_align {
    background-color: #B4BF35;
    padding-bottom: 3rem;
}
.item5-2_align {
    background-color: #B95F21;
    padding-bottom: 5rem;
}
.item5-3_align {
    background-color: #1C4C56;
    font-size: 3rem;
}
.item5-4_align {
    background-color: #CfB276;
}
.item5-5_align {
    background-color: #6B0803;
}