.container6_ac {
    /* border: 6px solid black; */
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    align-content: space-around;

    background: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    padding:25px;
    margin-bottom: 30px;

}

.container6_ac:hover{
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}       


.flex-item_ac {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item-1_ac {
    background-color: #B4BF35;
}
.item-2_ac {
    background-color: #B95F21;
}
.item-3_ac {
    background-color: #1C4C56;
}
.item-4_ac {
    background-color: #CfB276;
}
.item-5_ac {
    background-color: #6B0803;
}
.item-6_ac {
    background-color: #1C4C56;
}
.item-7_ac {
    background-color: #B95F21;
}
.item-8_ac {
    background-color: #01243A;
}
.item-9_ac {
    background-color: #AAD041;
}