nav{
    font-size: 2rem;
    /* background-color: #555; */
    background-color: #1A5D1A;
    position:sticky;
    width: 100%;
    margin: 0px;
    color: white;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    cursor: pointer;
    padding: 0.5rem;
    flex:auto;
    text-align: center;
}

nav ul li:hover{
    background-color: white;
    color: #1A5D1A;
}

.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1A5D1A;
    color: white;
}

@media all and (max-width: 400px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
    }
}